html,
body {
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch !important;

    height: 100% !important;
}

.g-page {
    position: relative;

    overflow-x: hidden;

    background: #fff;

    font: 400 16px $font__family;
}
