.p-notify {
  margin: 16px 0;
  padding: 16px 24px;
  .p-notify_pers {
    display: inline-block;
    float: left;

    width: 40px;
    height: 50px;
    margin-right: 24px;
  }
  .p-notify_window {
    position: relative;

    display: inline-block;

    max-width: 350px;
    padding: 16px 42px 16px 24px;

    background-color: $color__white;

    border-radius: 2px;

    .p-notify_window_close {
      position: absolute;
      z-index: 1;
      right: 10px;

      margin-top: -1px;

      opacity: 0;
      border: none;
      background: none;

      transition: opacity .1s linear;
    }
    .p-notify_window_cnt {
    }
    &:hover {
      .p-notify_window_close {
        opacity: 1;
      }
    }
    &:before {
      position: absolute;
      top: 17.5px;
      left: -7px;

      width: 0;
      height: 0;

      content: "";

      border-top: 8px solid transparent;
      border-right: 7px solid #dcdddf;
      border-bottom: 7px solid transparent;
    }
    &:after {
      position: absolute;
      top: 18.5px;
      left: -5.5px;

      width: 0;
      height: 0;

      content: "";

      border-top: 7px solid transparent;
      border-right: 6px solid $color__white;
      border-bottom: 6px solid transparent;
    }
  }
  @media(--mobile) {
    padding: 0 16px;
  }
}
