@use postcss-autoreset {
  reset: {
    all: initial;
    sizes: 0;
  }
}

@use postcss-initial {
  reset: inherited;
}

.picture {
  display: block;
  size: 100%;
  transition: opacity 300ms ease-in-out;
}
