.available {
	padding-top: 90px;
	color: #808080;

	&__title {
		margin-bottom: 40px;
		text-align: center;
		font-size: 3.375em;
	}

	&__subtitle {
		padding: 0 30px;
		font-size: 3.375em;
		text-align: left;
		margin-bottom: 10px;
	}

	&__text {
		padding: 0 30px;
		margin-bottom: 70px;

		font-size: 2em;
    @media(--mobile) {
      font-size: 1.5em;
    }

		&.__last {
			margin-bottom: 0;
		}
	}

	&__img {
		margin-bottom: 70px;
	}

	&__bottom {
		text-align: center;
	}

	&__link {
		display: inline-block;
		font-size: 2.875em;
	}
}

.__text-center {
	text-align: center;
}
