$color__white: #fff;
$color__black: #000;
$color__gray-dark: #595959;
$color__gray: #b2b2b2;
$color__gray-light: #bfbfbf;

$color__green: #399;
$color__red: #eb2836;
$color__blue: #5E8BCE;

$color-bg-hello: #12302D;
$color-orange: #FFDE1E;
$color-orange-dark: #DEBD00;

.red {
  color: $color__red;
}

.green {
  color: $color__green;
}
.orange {
  color: $color-orange;
}

.yellow {
  color: #FFDE1E;
}