@custom-media --smalldesktop (max-width:1400px) and (min-width: 1051px);
@custom-media --tablet (max-width:1050px) and (min-width: 640px);
@custom-media --tabletandless (max-width:1023px);
@custom-media --mobile (max-width:750px);
@custom-media --largedesktop (max-width:2560px) and (min-width:1800px);
