@define-mixin button__sample $background: #FFDE1E, $bottom: 98px {

  @media (--mobile) {

    cursor: pointer;
    color: #12302d;
    font-family: $font__family__light;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    position:fixed;
    left: 0;
    right: 0;
    bottom: $bottom;
    background: $background;
    height: 100px;
    z-index: 100;

  }

}

