[class*=i-]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/icons.png);
}
.i-arrow-down-left:before {
	width: 44px;
	height: 34px;
	background-position: -45px 0;
}
.i-arrow-down-right:before {
	width: 44px;
	height: 34px;
	background-position: 0 -45px;
}
.i-delete:before {
	width: 22px;
	height: 23px;
	background-position: -94px 0;
}
.i-description:before {
	width: 18px;
	height: 29px;
	background-position: -49px -45px;
}
.i-menu:before {
	width: 40px;
	height: 40px;
	background-position: 0 0;
}
