@import "base/vars/vars.pcss";

html,
body {
  position: relative;

  overflow: hidden !important;
  -webkit-overflow-scrolling: touch !important;

  width: 100%;
  height: 100% !important;
  margin: 0;

  background: #fff;

  font: 400 16px $font__family;
}

.app {
  height: 100%;
}

.scroll-cnt {
  overflow-y: auto;

  height: 100%;
}