<!-- BEGIN hero -->
.section.smallHero(v-if="isAuth")
	.smallHero__logo.ic-logo
	.smallHero__logo-apostrophe
.section.hero(v-if="!isAuth")
	.section__content.hero__content
		.hero__content__img
		<!-- BEGIN profile-header -->
		.profile-header
			.profile-header__center
				i(class="ic-facebook-icon profile-header__center__ic")
				i(class="ic-instagram-icon profile-header__center__ic")
				i(class="ic-vkontakte-icon profile-header__center__ic")
			.profile-header__menu
				.profile-header__menu-btn
					.profile-header__menu-btn-label
					.profile-header__menu-btn-icon
				.profile-header__menu-links
					a(class="profile-header__menu-link", href="#") Покупателям
					a(class="profile-header__menu-link", href="#") Магазинам
					a(class="profile-header__menu-link active", href="#") Блогерам
					a(class="profile-header__menu-link", href="#") Наша миссия
					a(class="profile-header__menu-link", href="#") Условия
					a(class="profile-header__menu-link", href="#") Отмена
		<!-- END profile-header -->

		.hero__content__logo.ic-logo
		.hero__content__description Шопинг в Instagram стал проще
<!-- END hero -->