@use postcss-autoreset {
  reset: {
    all: initial;
    sizes: 0;
  }
}

@use postcss-initial {
  reset: inherited;
}

@import 'base/mixin/bubble.pcss';

.description {
  width: 100%;
  display: block;
}

.text {
  display: block;
  box-sizing: border-box;
  padding: 15px;
  font-family: $font__family__light;
  font-size: $font__size;
  color: $color__gray-dark;
  word-wrap: break-word;
  margin-bottom: 15px;
  @media (--mobile) {
    font-size: 32px;
    line-height: 38px;
  }
}
