.section {
  &__content {
    box-sizing: border-box;
    max-width: 1050px;
    margin: 0 auto;
    @media(--mobile) {
      max-width: 750px;
    }
  }
  &.top {
    padding-top: 50px;

    @media(--mobile) {
      padding-top: 102px;
    }
  }
  &.bottom {
    padding-bottom: 110px;

    @media(--mobile) {
      padding-bottom: 110px;
    }
  }
}
