#system_msg {
  position: fixed;
  z-index: 5;

  padding: 7px;

  border-radius: 0 0 5px 0;
}


#layer_bg, #box_layer_bg, #layer_wrap, #box_layer_wrap {
  z-index: 500;
  top: 0;
  left: 0;

  display: none;
  overflow: hidden;

  width: 100%;
  height: 100%;
}

#layer_wrap, #box_layer_wrap {
  overflow: auto;
}

#layer_wrap {
  overflow-x: hidden;
  overflow-y: auto;
}

#box_layer_bg, #box_layer_wrap {
  z-index: 1000;
}

#box_layer_bg {
  background: #000000;

  opacity: .3;
}

#box_layer_bg.bg_dark {
  opacity: .7;
}

#box_layer {
  padding: 1px 0 80px;

  #box_loader {
    position: absolute;
    z-index: 1002;
    left: 50%;

    display: none;

    width: 100px;
    margin: 0 auto 0 -50px;

    .loader {
      position: absolute;
      z-index: 100;

      width: 100%;
      height: 50px;

      background: url(../img/upload_inv_mono.gif) no-repeat 50% 50%;
    }

    .back {
      height: 50px;

      background-color: #000000;

      border-radius: 5px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, .35);
      opacity: 0.7;
    }
  }

  .popup_box_container {
    z-index: 1002;



    margin: 0 auto;

    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);

    .box_layout {
      position: relative;

      .box_title_wrap {
        padding: 0;

        color: $color__black;
        background: $color__white;

        font-size: 18px;
        font-weight: bold;

        .box_x_button {
          float: right;

          margin: 16px 16px 0;
          padding: 0;

          cursor: pointer;

          color: $color__gray;

          font-size: 13px;

          i {
            display: block;
            float: left;

            width: 24px;
            padding: 1px 2px;

            font-size: 22px;
          }
          &:hover {
            color: $color__black;

            i {
              color: $color__black;
            }
          }
        }

        .box_title {
          padding: 30px 24px 24px 24px;
        }
      }

      .box_body {
        padding: 0 24px 32px;

        background-color: #ffffff;

        line-height: 140%;
      }

      .box_controls_wrap {
        .box_controls {
          height: 56px;
          padding: 0 24px;

          border-top: 1px solid #dae1e8;
          background-color: #f2f2f2;

          align-items: center;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;

          .box_controls_btns {
            display: flex;
            justify-content: flex-end;
          }

          .progress {
            position: relative;

            margin: 7px 10px 0;
          }
          .box_controls_text {
            color: $color__gray;

            font-size: 11px;
            font-style: italic;

            align-items: center;;
            display: flex;;
          }
        }
      }
    }
  }
}

.progress, .progress_inv, .progress_inv_img {
  display: none;

  width: 32px;
  height: 13px;

  background: url(../img/upload.gif) no-repeat 50% 50%;
}

.box_controls .btn {
  margin-left: 10px;
}

.top_result_baloon_wrap {
  z-index: 1200;
  // Done Message Box (js ShowDoneBox())

  padding-top: 50px;

  font-size: 1em;

  .top_result_baloon {
    width: 380px;
    padding: 15px 15px;

    cursor: pointer;

    color: $color__white;
    background: url("../img/mv_bg.png");
    background: rgba(0, 0, 0, .75);
    text-shadow: 0 1px 0 #262626;

    line-height: 160%;

    border-radius: 4px;
    box-shadow: 0 2px 15px #888888;
  }
}

.__fixed {
  position: fixed;
}