.main {
  box-sizing: border-box;
  color: #808080;

  &__wrap {
    padding: 0 40px;
  }

  &__title {
    padding-top: 40px;
    text-align: center;
    font-size: 3.625em;
    line-height: 1.2em;
  }

  &__subtitle {
    margin-top: 20px;
    text-align: center;
    font-size: 1.875em;
  }

  &__link {
    color: #399;
    text-decoration: none;
    border-bottom: 1px solid #dee4e4;
    cursor: pointer;

    &_gray {
      color: #808080;
    }

    &:hover {
      border-bottom-color: transparent;
    }
  }
  &__heart {
    width: 66px;
    height: 20px;
    &__img {
      display: inline-block;
      vertical-align: middle;
      width: 66px;
      height: 60px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }
  &__list {
    &__item {
      font-size: 2em;
      &:not(:last-child) {
        margin-bottom: 58px;
      }
      &__number {
        position: relative;
        top: -4px;
        display: inline-block;
        box-sizing: border-box;
        width: 30px;
        min-width: 30px;
        height: 30px;
        margin-right: 12px;
        margin-top: -10px;
        text-align: center;
        line-height: calc(30px - 3px);
        border: 1px solid #808080;
        border-radius: 50%;
        font-size: 0.5625em;
      }
      &__img {
        display: inline-block;
        vertical-align: middle;
        width: 38px;
        height: 32px;
      }
    }
  }
  &__start {
    text-align: center;
    margin-top: 70px;
    &__title {
      font-size: 2.875em;
    }
    &__text {
      margin-top: 20px;
      font-size: 1.875em;
    }
  }
  &__bottom {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 1.875em;
  }
}