@import 'base/vars/vars.pcss';
.chat-msg-date {
  display: inline-block;

  margin-bottom: 10px;

  text-align: center;

  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);

  span {
    display: block;

    height: 30px;
    margin-top: 4px;
    padding: 0 15px;
    color: white;

    font-size: 20px;
    line-height: 24px;

    @media(--mobile){
      height: 40px;
      padding: 0 27px;
      font-size: 28px;
      line-height: 33.6px;
    }
  }
}
