@import 'base/vars/vars.pcss';
.chat-msg-img{
    max-width: 600px;
    min-height: 350px;
    margin-top: 5px;

    @media(--mobile){
        max-width: 560px;
    }
    &-opacity{
        opacity: 0.5;
    }
}