@import 'base/vars/vars.pcss';
.chat-msg-img{
  max-width: 260px;
  height: auto !important;
  cursor: pointer;
    margin-top: 5px;
    &-opacity{
        opacity: 0.6;
    }
}
.bubble-img {
	padding:0;
	border:1px solid #CAE6E1;
	border-radius: 12px;
	overflow: hidden;
    img {
    	margin-top: 0;
    	display: block;
    }
}