@import "base/vars/vars.pcss";
.chat-msg-date {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);

  span {
    display: block;
    margin-top: 4px;
    color: white;
    @media(--mobile){
      width: 182px;
      height: 40px;
      font-size: 28px;
      line-height: 33.6px;
    }
    width: 136.5px;
    height: 30px;
    font-size: 20px;
    line-height: 24px;
  }
}
