@import "base/vars/vars.pcss";
.chat-msg-img{
    margin-top: 5px;
    @media(--mobile){
        max-width: 560px;
    }
    max-width: 600px;
    min-height: 350px;
    &-opacity{
        opacity: 0.5;
    }
}