@import "base/vars/vars.pcss";
.chat-msg {
  padding: 23px;

  &_t {
    overflow: hidden;

    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #EA5D41;

    font-size: 28px;

    b {
      font-weight: bold;
    }
  }
  &_txt {
    color: $color__gray-dark;
    font-size: 28px 37px;
  }
}
