@import "base/vars/vars.pcss";
.chat-msg-date {
  display: inline-block;
  margin-bottom: 20px;
  padding: 2px 34px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);

  span {
    display: block;
    margin-top: 4px;
    color: white;
    font-size: 28px;
  }
}
