@import "base/vars/vars.pcss";
.chat-msg {
  padding: 20px;

  &_t {
    overflow: hidden;

    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: $color__red__light;

    font-size: 28px;

    line-height: 38px;

    b {
      font-weight: bold;
    }
  }
  &_txt {
    font-size: 28px 37px;
  }
}
.chat-msg-product-wrap{
  display: flex;
  .chat-msg_t{
    padding: 25px 20px 0;
  }
}