.link {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1x solid color(black a(.15));

  transition: $btn-transition;

  &_no-line {
    border-bottom: none;
  }
  &_primary {
    color: $color__green;

    &:hover {
      color: color($color__green shade(20%));
    }
  }
}