@use postcss-autoreset {
  reset: {
    all: initial;
    sizes: 0;
  }
}

@use postcss-initial {
  reset: inherited;
}

@import 'base/mixin/bubble.pcss';

.desktopLayout {
  display: block;
  margin-top: 12px;
  padding-right: 20px;
}

.product {
  display: flex;
}

.leftSide {
  display: block;
  box-sizing: border-box;
  padding-right: 12px;
}

.rightSide {
  display: block;
}

.userAndProducts {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
}
