@import "base/vars/vars.pcss";

.tags {
  // elements
  &__ {
    &title {
      display: flex;

      margin-bottom: 30px;

      cursor: default;
      text-align: center;

      color: $color__green;

      font-size: 46px;

      justify-content: center;
      &-arrow {
        margin: 0 26px;
      }
    }
  }
}