@font-face{
	font-family: San-Francisco;
	font-weight: normal;
	font-style: normal;
  src: url('sf-ui-text-regular-webfont.eot');
  src: url('sf-ui-text-regular-webfont.ttf'),
   url('sf-ui-text-regular-webfont.woff'),
   url('sf-ui-text-regular-webfont.woff2');
}
