.profile{
	
	// elements
	&__{
		&preview{
			margin: 30px 0;
			
			text-align: center;
		}
		&image{
			border-radius: 50%;
		}
		&info{
			margin: 24px 28px;
			
			font-size: 28px;
		}
		&motto{
			color: #666;
		}
	}
}